/* media query */
/* https://devfacts.com/media-queries-breakpoints/ */

/* .month-tabs {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
} */

/* 화면너비 1920px */
@media screen and (max-width: 1920px) {
   /* 학교 컴퓨터 */
}

/* 화면너비 1680px */
@media screen and (max-width: 1680px) {
   /* 레노버 */
   .month-tabs li {
      height: 70px;
   }
   .month-tabs li button {
      padding: 0 1.45em;
   }
   #notice .notice-container {
      padding: 4.5% 5.2%;
   }
}

/* 화면너비 1440px */
@media screen and (max-width: 1440px) {
   /* lg그램 */
   /* 헤더 */
   #check:checked ~ nav label .close-btn {
      font-size: 37px;
   }
   #check:checked ~ nav .menu-bars .menu-bar > a {
      font-size: 1.4rem;
   }
   #check:checked ~ nav .dropdown-menu > ul > li > a {
      font-size: 1.1rem;
   }
   .menu-bars .menu-bar > a {
      font-size: 1.2rem;
      font-weight: 400;
   }
   nav .menu-bar .dropdown-menu {
      width: 11em;
   }
   .dropdown-menu ul li a {
      font-size: 1rem;
   }
   .main-info button {
      font-size: 0.9rem;
   }

   .overview-tabs button {
      font-size: 1.3rem;
   }
   .overview-filters button {
      font-size: 1.1rem;
   }
   .monthNavi > h3 {
      font-size: 1.65rem;
   }
   .monthNavi .arr img {
      width: 17px;
   }
   .month-tabs li button {
      font-size: 1rem;
   }
   .calContent .date p {
      font-size: 1.15rem;
   }
   .calContent .playttl > p {
      font-size: 1.1rem;
   }
   .calContent a:hover .playttl p {
      font-size: 1.05rem;
   }

   .service li a {
      font-size: 1.15rem;
   }
   .notice-container h4 {
      font-size: 2.1rem;
   }
   .notice-box .n-list a {
      height: 335px;
   }
   .n-text .n-year {
      font-size: 1.2rem;
   }
   .n-text .n-date {
      font-size: 1.65rem;
   }
   .n-text .n-title {
      font-size: 1.2rem;
   }

   footer .addrArea address {
      font-size: 0.91rem;
   }
   footer .addrArea {
      gap: 2%;
      padding: 4%;
   }
}

/* 화면너비 1200px */
@media screen and (max-width: 1200px) {
   .logo {
      padding: 2.5% 0;
   }

   .overview-tabs button {
      font-size: 1.2rem;
   }
   .overview-filters button {
      font-size: 1rem;
   }
   .monthNavi > h3 {
      font-size: 1.4rem;
   }
   .month-tabs li button {
      font-size: 0.9rem;
   }
   .month-tabs li {
      height: 60px;
   }
   .monthNavi .arr img {
      width: 13px;
   }

   .notice-container h4 {
      font-size: 1.9rem;
   }
   .notice-box .n-list a {
      height: 300px;
   }
   .n-text .n-year {
      font-size: 1.1rem;
   }
   .n-text .n-date {
      font-size: 1.4rem;
   }
   .n-text .n-title {
      font-size: 1.13rem;
   }
   footer .addrArea .link {
      display: none;
   }
   footer .info a {
      vertical-align: baseline;
   }
}
/* 태블릿 992px */
@media screen and (max-width: 992px) {
   #landing-wrap {
      height: 90vh;
   }
   .main-info {
      bottom: 20%;
   }
   nav .menu-bars {
      display: none;
   }
   label {
      font-size: 1.4rem;
   }
   .menu-bars .menu-bar > a {
      font-size: 1.1rem;
   }
   nav img {
      width: 30px;
   }
   .lang a {
      font-size: 0.8rem;
   }
   #check:checked ~ nav .menu-bars {
      flex-direction: column;
   }
   #check:checked ~ nav .menu-bars .menu-bar {
      width: 100%;
   }
   #check:checked ~ nav .dropdown-menu {
      display: none;
   }
   .monthNavi > h3 {
      font-size: 1.1rem;
   }
   .overview-tabs button {
      font-size: 1.1rem;
   }
   .overview-filters button {
      font-size: 0.9rem;
   }
   .monthNavi {
      flex-wrap: wrap;
   }
   .monthNavi > h3 {
      width: 100%;
      padding: 1.2% 0;
      border-bottom: 1px solid #7e7e7e;
      font-size: 1.25rem;
      text-align: center;
   }
   .month-tabs {
      justify-content: center;
      margin: 0 auto;
   }
   .month-tabs li:last-child {
      border-right: 1px solid #7e7e7e;
   }
   .month-tabs li.arr-next,
   .month-tabs li.arr-prev {
      display: none;
   }
   .month-tabs li button {
      padding: 0 1.55em;
   }
   .pdContent {
      padding: 4em 0;
   }
   .pdContent .poster {
      width: 300px;
   }
   .calContent > a {
      padding: 1.5em 2em;
   }
   .calContent .date p {
      font-size: 1.1rem;
   }
   .calContent .playttl > p {
      font-size: 1rem;
   }
   .calContent a:hover .playttl p {
      font-size: 1rem;
   }

   .service li a {
      font-size: 1.05rem;
   }

   .notice-container h4 {
      font-size: 1.65rem;
   }
   .notice-box .n-list a {
      height: 290px;
   }
   .n-text .n-date {
      font-size: 1.3rem;
   }
   .n-text .n-title {
      font-size: 1.1rem;
   }

   footer .info a {
      font-size: 0.8rem;
   }
   footer .addrArea address {
      font-size: 0.8rem;
   }
   footer .ft-container > p {
      font-size: 13.5px;
      margin: 0 25px;
   }
}

/* 화면너비 768px */
@media screen and (max-width: 768px) {
   .logo {
      padding: 3.5% 0;
   }
   .monthNavi > h3 {
      font-size: 1.2rem;
   }
   .month-tabs li button {
      font-size: 0.85rem;
   }
   .month-tabs li button {
      padding: 0 1.45em;
   }
   .vacant {
      color: #fff;
      font-size: 1.1rem;
   }

   .service {
      width: 70%;
      margin: 3% auto;
   }
   .service ul {
      flex-wrap: wrap;
   }
   .service ul li {
      flex-basis: 45%;
      margin: 8% 0;
   }
   .service li a {
      font-size: 1rem;
   }
   #notice .notice-container {
      display: flex;
      padding: 7% 0;
   }
   .notice-box {
      flex-direction: column;
      /* align-items: center; */
      margin: 0;
      height: 850px;
   }
   .notice-box .n-list {
      width: 60%;
   }
   .notice-box .n-list a {
      height: 260px;
   }
   .n-text .n-year {
      font-size: 1rem;
      margin-top: 10%;
   }
   .n-text .n-date {
      margin: 10% 0 7%;
   }
   .n-text .n-title {
      padding-top: 8%;
   }
}

/* 모바일 600px */
@media screen and (max-width: 600px) {
   #landing-wrap {
      height: 80vh;
   }
   .main-info {
      bottom: 30%;
      left: 8%;
   }
   .main-info h2 {
      font-size: 1.7rem;
   }
   .main-info p {
      font-size: 1.5rem;
   }
   .main-info button {
      font-size: 0.85rem;
   }
   .overviewNavi {
      display: block;
      padding: 0;
   }
   .overview-tabs {
      justify-content: center;
   }
   .overview-tabs button {
      font-size: 1rem;
   }
   .overview-filters {
      justify-content: center;
      background: #f5f5f5;
      padding: 1% 0;
   }
   .overview-filters button {
      font-size: 0.8rem;
   }
   .month-tabs {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
   }
   .month-tabs li {
      height: 55px;
   }
   .month-tabs li.july {
      border-left: 1px solid #7e7e7e;
   }
   .month-tabs li button {
      font-size: 0.8rem;
   }
   .pdContent {
      padding: 3em 0;
   }
   .pdContent .poster {
      width: 280px;
   }
   .calContent > a {
      padding: 1.5em 0.5em;
   }
   .calContent .date {
      width: 30%;
   }
   .calContent .playttl {
      width: 70%;
   }
   .calContent .date p {
      font-size: 1rem;
   }
   .calContent .date p:first-child {
      width: 70%;
   }
   .book-btn {
      display: none;
   }

   .service li a {
      font-size: 0.9rem;
   }

   .notice-container h4 {
      font-size: 1.5rem;
   }
}

/* 화면너비 425px */
@media screen and (max-width: 425px) {
   #landing-wrap {
      height: 70vh;
   }
   .main-info {
      bottom: 40%;
      left: 5%;
   }
   .main-info h2 {
      font-size: 1.4rem;
   }
   .main-info p {
      font-size: 1.3rem;
   }
   .main-info button {
      font-size: 0.65rem;
   }
}
