/* media query */
/* https://devfacts.com/media-queries-breakpoints/ */

/* 화면너비 1920px */
@media screen and (max-width: 1920px) {
   /* 학교 컴퓨터 */
}

/* 화면너비 1680px */
@media screen and (max-width: 1680px) {
   /* 레노버 */
}

/* 화면너비 1440px */
@media screen and (max-width: 1440px) {
   /* lg그램 */
   /* 헤더 */
   #check:checked ~ nav label .close-btn {
      font-size: 37px;
   }
   #check:checked ~ nav .menu-bars .menu-bar > a {
      font-size: 1.4rem;
   }
   #check:checked ~ nav .dropdown-menu > ul > li > a {
      font-size: 1.1rem;
   }
   .menu-bars .menu-bar > a {
      font-size: 1.2rem;
      font-weight: 400;
   }
   nav .menu-bar .dropdown-menu {
      width: 11em;
   }
   .dropdown-menu ul li a {
      font-size: 1rem;
   }
   .main-info button {
      font-size: 0.9rem;
   }

   .overview-tabs button {
      font-size: 1.3rem;
   }
   .overview-filters button {
      font-size: 1.1rem;
   }
   .monthNavi > h3 {
      font-size: 1.7rem;
   }
   .month-tabs li button {
      font-size: 0.95rem;
   }
   .calContent .date p {
      font-size: 1.15rem;
   }
   .calContent .playttl > p {
      font-size: 1.1rem;
   }
   .calContent a:hover .playttl p {
      font-size: 1.05rem;
   }

   .service li a {
      font-size: 1.15rem;
   }
   .notice-container h4 {
      font-size: 2.1rem;
   }
   .notice-box .n-list a {
      height: 335px;
   }
   .n-text .n-year {
      font-size: 1.2rem;
   }
   .n-text .n-date {
      font-size: 1.65rem;
   }
   .n-text .n-title {
      font-size: 1.2rem;
   }

   footer .addrArea address {
      font-size: 0.91rem;
   }
}

/* 화면너비 1200px */
@media screen and (max-width: 1200px) {
   @keyframes zoomOut {
      0% {
         background-size: 150%;
      }
      100% {
         background-size: 140%;
      }
   }
   .month-tabs li .arr {
      display: none;
   }

   .notice-container h4 {
      font-size: 1.9rem;
   }
   .notice-box .n-list a {
      height: 300px;
   }
   .n-text .n-year {
      font-size: 1.1rem;
   }
   .n-text .n-date {
      font-size: 1.4rem;
   }
   .n-text .n-title {
      font-size: 1.13rem;
   }
}
/* 화면너비 1024px */
@media (max-width: 1024px) {
   .n-text .n-date {
      font-size: 1.35rem;
   }
}
/* 태블릿 사이즈 */
@media screen and (max-width: 992px) {
   @keyframes zoomOut {
      0% {
         background-size: 170%;
      }
      100% {
         background-size: 160%;
      }
   }
   label {
      font-size: 1.4rem;
   }
   .menu-bars .menu-bar > a {
      font-size: 1.1rem;
   }
   nav img {
      width: 30px;
   }
   .lang a {
      font-size: 0.8rem;
   }
   #check:checked ~ nav .menu-bars {
      flex-direction: column;
   }
   #check:checked ~ nav .menu-bars .menu-bar {
      width: 100%;
   }
   #check:checked ~ nav .dropdown-menu {
      display: none;
   }
}

/* 화면너비 768px */
@media (max-width: 768px) {
}

/* 모바일 사이즈 */
@media screen and (max-width: 600px) {
}
