/* media query */
/* https://devfacts.com/media-queries-breakpoints/ */


/* 화면너비 1920px */
@media (max-width:1920px) {
    /* 학교 컴퓨터 : 80% */
    .section01 > .container {
        width: 80%;
    }
    .day-list{
        padding: 15px 65px;
    }
}
/* 화면너비 1680px */
@media (max-width:1680px) {
    /* 레노버 : 85% */
    .section01 > .container {
        width: 85%;
    }
    .day-list{
        padding: 15px 65px;
    }
}
/* 화면너비 1440px */
@media (max-width:1440px) {
    /* lg그램 : 95% */
    .section01 > .container{
        width: 95%;
    }
}
/* 화면너비 1024px */
@media (max-width:1024px) {
}
/* 화면너비 768px */
@media (max-width:768px) {
}
