@charset "UTF-8";
@import url(./reset.css);

/* 레이아웃 */
body{
    width: 100%;
    overflow-x: hidden;
}
header, main, section, footer{
    width: 100%;    
}

/* 랜딩 페이지 */
#landing-wrap{
    width: 100%;
    height: 100vh;
    /* overflow-y: scroll; */
    /* scroll-snap-type: y mandatory; */
}
/* 헤더 */
header{
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 10px 85px;
    /* border-bottom: 1px solid #333; */
}
/* 로고 */
.logo a{
    line-height: 100px;  
}
.logo img{
    width: 190px;
}
/* 메뉴 */
nav .menu-bar{
    display: flex;
    align-items: center;
    height: 100%;
}
nav .menu-bar li{
    font-size: 19px;
    font-weight: 500;
    padding: 0 30px;
}
nav .menu-bar a{
    color: #000;
    line-height: 80px;
    font-size: 1.2rem;
    font-weight: 400;
}
/* 아이콘 */
.icon-bar{
    display: flex;
    justify-content: flex-end;
}
.icon-bar ul{
    display: flex;
    /* justify-content: center; */
    /* background-color: #fff;
    opacity: 0.5;
    border-radius: 20px;
    width: 200px; */
    padding: 5px 0px;
}
.icon-bar li{
    padding: 0 10px;
    align-content: center;
}
.icon-bar img{
    width: 30px;
}
/* 메인 */
main{
    height: 100%;
    /* background: linear-gradient(45deg, Violet, Orange); */
}
#main-wrap{    
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(255, 213, 208);
}

/* 본문1 */
.section01{
    /* width: 90%; */
    margin: 0 auto;
}   
/* 프로덕션 & 캘린더 */
.overviewNavi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
}
.overviewNavi .overview-tab i{
    margin-right: 10px;
}
.overviewNavi .overview-tab button{
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 30px;
}
.overview-filter{
    display: flex;
}
.overviewNavi .overview-filter button{
    margin: 0 20px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #767676;
}

.calendar{
    color: #fff;
    background-color: #1D1D1D;
}
.monthNavi{
    display: flex;
    /* padding: 0 100px; */
    justify-content: space-between;
    border-bottom: 1px solid #7e7e7e;
}
.monthNavi > p{
    font-size: 2rem;
    font-weight: 600;
    font-family: "Red Hat Display", sans-serif;
    align-content: center;
    margin: 0 auto;
}
.monthNavi .arr img{
    width: 25px;
}
.month-tabs {
    display: flex;
    justify-content: space-around;
}
.month-tabs li:first-child{
    border-left: 1px solid #7e7e7e;
}
.month-tabs li{
    border-right: 1px solid #7e7e7e;
}
.month-tabs li button{
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    line-height: 75px;
    padding: 0 40px;
}
.month .move-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}
.month .move-btns a{

}
.month .move-btns a:last-child{
}
.month .move-btns img{
    width: 28px;
}
.hidden{
    display: none;
}
.tab-panels-1{

}
.boxView{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 55px;
}
.boxView .poster {
    display: block;
    width: 350px;
    height: 100%;
    position: relative;
}
.boxView .poster img{
    width: 100%;
    filter: brightness(75%);
}
.boxView .poster > div{
    position: absolute;
    bottom: 0;
    z-index: 999;
    width: 350px;
    font-weight: 300;
    color: #fff;
    /* padding: 20px; */
    background: #000;
    opacity: 0.9;
    text-align: center;
}
.poster > div > p:nth-child(1){
    padding: 50px 0 5px;
}
.poster > div > p:nth-child(2){
    font-size: 1.5rem;
    font-weight: 400;
    padding: 5px 0 50px;
}
.poster > div > p:nth-child(3){
    font-size: 1.3rem;
    font-weight: 400;
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 30px;
}

.tab-panels-2{
    line-height: 50px;
    background-color: #1D1D1D;
}
.day-list{
    display: flex;
    padding: 15px 65px;
    margin: 0 30px;
    border-bottom: 1px solid #9d9d9d;
}
.day-list:hover {
    background-color: #ffb701;
    color: #000;
}
.day-list:hover .date span{
    color: #000;
    font-weight: 700;
}
.day-list .date span{
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Red Hat Display", sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    margin: 0 20px;

    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}
.day-list .date span:first-child{
    margin-right: 20px;
}
.day-list .date span:last-child{
    font-weight: 300;
}
.day-list:hover .date span:last-child{
    font-weight: 500;
}
/* 공연 제목 */
.day-list .playttl{
    flex-grow: 2;
    text-align: center;
}
.day-list .playttl a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0 5px;
}
.day-list .book-btn img{
    width: 39px;
}
.day-list:hover .playttl a{
    color: #000;
    font-weight: 600;
    border-bottom: 1.5px solid #000;
}
/* 티켓 아이콘 버튼 */
.book-btn img.black{
    display: none;   
}
.day-list:hover img.white{
    display: none;
}
.day-list:hover img.black{
    display: inline-block;
}

/* 본문2 */ 
.section02 > .container{
    width: 90%;
    margin: 35px auto;
    /* border-left: 1px solid #000;
    border-right: 1px solid #000; */
}
/* .part-above{
    display: flex;
    width: 100%;
} */

/* 주요 서비스 - 아이콘 형식*/
.service{
    width: 100%;
    margin: 70px auto;
}
.service ul{
    display: flex;
    justify-content: center;
}
.service ul:last-child{
}
.service ul li{
    width: 180px;
    margin: 0 5px;
}
.service li a{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
}
.service li img{
    display: block;
    margin: 0 auto 20px;
    width: 45px;
}

/* 인포 */
#info {
    width: 100%;
    margin: 100px auto;
}
#info .info_inr {
    width: 100%;
    display: flex;
}

.info_inr .n_list {  width: 85%; 
}
.info_inr ul {display: flex;}
.info_inr .n_list li {
    width: 30%; height: 435px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    position: relative;
}

.info_inr .notice {
    width: 15%;
    padding-top: 84px;
}
.info_inr .notice h4 {color: #1A1A1A;text-align: left;
    font-family:'Montserrat';
    font-weight: 700; font-size: 37px;
    margin-top: 28px;
}
.info_inr .notice > div {
    /* background: #00203d; border-radius: 50%;  */
padding-top: 17px;}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
.eBhLyM_ {
    height: 25px;
    width: 100%;
    /* display: inline-block; */
}
.eBuayz_ {
    height: 100%;
    width: 70px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    transition: width 1s ease 0s;
}
.khpWsc_ {
    background-color:  #00203d;
    height: 1px;
    position: relative;
    width: 100%;
    right: 1px;
}
.eBuayz_ svg:last-child {
    width: 25px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 4px 0px 4px 15px;
}

.iCbSga_ {
    width: 100%;
    color:  #00203d;
    /* z-index: 1;
    min-height: 280px;
    flex: 0 0 auto;
    display: block; */
    max-width: 160px;
    padding-top: 39px; padding-bottom:38px;
}
.hqMvbG_ {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}
.iCbSga_:hover .ArrowDazzlerAnimate {
    width: 100%;}
#info .day {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    margin:43px 0px 10px 45px;

}

#info .day .a {
    font-family: 'Montserrat';
    font-size: 50px; font-weight: 600;
    color: #111;
    margin-right: 10px;
}
#info .day .b {
    font-family: 'Arimo';
    font-size: 20px; 
    line-height: 1em;
    color: #111;
}

#info .txt {
    margin: 0 35px;
}

#info .txt .cont {
    font-size: 24px;
    font-family: 'Noto Sans KR';
    position: relative;
    padding-top:60px;
    padding-left:15px;font-weight: 300;
}
.deco-bar:before {
    content: '';
    display: inline-block;
    width: 200px;
    height: 1px;
    background: #000;
    position: absolute;
    top: 0px; left: 0;
}
#info .txt .cont p {
  
    color: #111;
}
#info .n_btn {
position: absolute;
bottom: 20px;
right: 20px;

}
#info .n_btn:hover {}
#info .n_btn img {
    padding: 18px;background: #00203d;
}

/* #info .n_list li:last-child {width: 200px; border: none; background: #ebebeb; 
}
#info li .add {text-align: center; background: #ebebeb; 
    padding: 40px 0;
   }
#info .add a {color: #111; font-size: 28px; font-family: 'Montserrat';
    font-weight: 300;
} */
#info .more
{ position: relative;}
.under_bar:before {
    content: '';
    display: inline-block;
    width: 120px;
    height: 1px;
    background: #111;
    position: absolute;
    top: 81px;
    left: 43px;
}


/* 푸터 */
footer {
    
}
footer .infoArea{
    width: 100%;
    background-color: #000;
}
footer .info{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
footer .info li{
    padding: 15px 35px;
}
footer .info a{
    color: #fff;
    vertical-align: baseline;
    /* font-weight: 500; */
}
footer > .container{
    width: 90%;
    margin: 0 auto;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
footer .addrArea{
    display: flex;
    align-items: center;
    gap: 2.5%;
    padding: 50px 70px;
}
footer .addrArea address{
    font-size: 15px;
    color: #888;
    margin-right: 500px;
}
footer .addrArea address p{
    margin-bottom: 5px;
}
footer .addrArea address p:last-child{
    margin-bottom: 0;
}
footer .addrArea address span{
    padding-right: 10px;
}
footer .addrArea .link a{
    display: inline-block;
    margin: 0 10px;
}

footer .container > p{
    margin: 0 50px;
    padding: 20px;
    border-top: 1px solid #ccc;
    font-size: 15px;
    color: #555;
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;

}