@charset "UTF-8";
@import url(./reset.css);

/* 레이아웃 */
body {
   width: 100%;
   overflow-x: hidden;
}
#landing-wrap,
header,
main,
section,
footer {
   width: 100%;
}
.hidden {
   display: none;
}
/* 랜딩 페이지 */
#landing-wrap {
   height: 100vh;
   background: url("../image/햄릿.gif") no-repeat center;
   background-size: cover;
   background-position: center;
}

/* 헤더 - 햄버거 메뉴 */
#check {
   z-index: 3;
   display: none;
}
/* @media (max-width: 960px) */
/* header nav {
  display: none;
} */

label .close-btn {
   display: none;
}
#check:checked ~ nav .menu-bars {
   padding-top: 10%;
   z-index: 2;
   position: fixed;
   background: rgba(48, 48, 48, 0.9);
   top: 0%;
   bottom: 0;
   left: 0%;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   gap: 4%;
}
#check:checked ~ nav .menu-bars .menu-bar {
   width: 15%;
}
#check:checked ~ nav .menu-bars .menu-bar > a {
   font-size: 1.8rem;
}
#check:checked ~ nav .dropdown-menu {
   display: block;
}
#check:checked ~ nav .dropdown-menu > ul > li > a {
   display: block;
   text-align: center;
   font-size: 1.3rem;
   font-weight: 300;
}
#check:checked ~ nav label .menu-btn {
   display: none;
}
#check:checked ~ nav label .close-btn {
   z-index: 3;
   display: block;
   position: fixed;
   top: 5%;
   right: 5%;
   color: #fff;
   font-size: 50px;
}
label {
   display: block;
   font-size: 1.57rem;
   cursor: pointer;
   color: #fff;
}

/* 헤더 > 로고 */
.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1.5% 0;

   border-bottom: 1px solid #ffffff20;
}
.logo > a {
   display: inline-flex;
   width: 12rem;
}
.logo img {
   width: 100%;
}
/* 헤더 > 내비 */
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.3em 3em;
}
nav img {
   width: 33px;
}
nav .menu-btn {
   display: block;
}
nav .menu-bars {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.menu-bar {
   position: relative;
   padding: 1em 1.7em;
}
.menu-bar > a {
   color: #fff;
   font-size: 1.4rem;
   font-weight: 400;
   padding-bottom: 2em;
}
nav .menu-bar .dropdown-menu {
   width: 15em;
   display: none;
   border-radius: 10px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: 100%;
   z-index: 5;
   background-color: #222;
   box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.5);
}
nav .menu-bars .menu-bar:hover .dropdown-menu {
   display: block;
}
.dropdown-menu ul {
   padding: 1em 0;
}
.dropdown-menu ul li {
   padding: 0.5em 0;
}
.dropdown-menu ul li a {
   color: #fff;
   font-size: 1.2rem;
   font-weight: 400;
   padding: 0.5em 0;
}
.dropdown-menu ul li:hover a {
   color: #ffb701;
}
.icon-bar {
   display: flex;
   align-items: center;
}
.icon-bar li {
   padding: 0 10px;
}
.lang {
   border-radius: 1.5rem;
   border: 1px solid rgba(255, 255, 255, 0.2);
   box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.5);
   margin-right: 10px;
}
.lang a {
   display: block;
   color: #fff;
   padding: 0.5rem 0.6rem;
   font-size: 0.9rem;
   font-weight: 600;
   line-height: normal;
}

/* 메인 비주얼 */

.main-info {
   color: #fff;
   position: absolute;
   bottom: 12%;
   left: 10%;
}
.main-info h2 {
   font-size: 2.3rem;
   font-weight: 500;
   opacity: 0;
   animation: showcontent 1s ease-in-out 1 forwards;
}
.main-info p {
   font-size: 1.9rem;
   font-weight: 400;
   font-family: "Montserrat", sans-serif;
   margin: 5px 0 25px;
   opacity: 0;
   animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}
@keyframes showcontent {
   from {
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
   }
   to {
      opacity: 1;
      transform: translate(0, 0);
      filter: blur(0);
   }
}

.main-info button {
   background: #fff;
   color: #333;
   padding: 0.75em 2.5em 0.75em 1.25em;
   border-radius: 15px;
   font-size: 1rem;
   font-weight: 600;
   position: relative;
   box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.8);
   opacity: 0;
   animation: fadeInText 2.5s 1.5s ease-out forwards;
}
@keyframes fadeInText {
   100% {
      opacity: 1;
   }
}
.main-info button > img {
   width: 11px;
   position: absolute;
   top: 50%;
   right: 12%;
   transform: translateY(-49%);
}

/* 본문1 */
.section01 {
   margin: 0 auto;
}
/* 프로덕션 & 캘린더 */
.overviewNavi {
   width: 95%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.7% 0;
   margin-top: 2%;
}
.overview-tabs {
   display: flex;
   align-items: center;
}
.overview-tabs i {
   margin-right: 0.625em;
}
.overview-tabs button {
   font-size: 1.5rem;
   padding: 0.625em;
   margin-right: 1.875em;
}
.overview-filters {
   display: flex;
}
.overview-filters button {
   margin: 0 1.25em;
   font-size: 1.3rem;
   font-weight: 500;
   opacity: 0.6;
}
.overview-filters button:hover {
   opacity: 1;
}

.monthNavi {
   display: flex;
   justify-content: space-between;
   border-top: 1px solid #7e7e7e;
}
.monthNavi > h3 {
   margin: 0 auto;
   font-size: 2rem;
   font-weight: 600;
   /* font-family: "Red Hat Display", sans-serif; */
   font-family: "Montserrat", sans-serif;
   align-content: center;
}
.monthNavi .arr img {
   width: 22px;
}
.month-tabs {
   display: flex;
   align-items: center;
}
.month-tabs li {
   height: 75px;
   border-right: 1px solid #7e7e7e;
}
.month-tabs li:first-child {
   border-left: 1px solid #7e7e7e;
}
.month-tabs li:last-child {
   border-right: none;
}
.month-tabs li span {
   /* font-family: "Red Hat Display", sans-serif; */
   font-family: "Montserrat", sans-serif;
}
.month-tabs li button {
   font-size: 1.2rem;
   font-weight: 400;
   padding: 0 1.6em;
   width: 100%;
   height: 100%;
}
.month-tabs li button:hover {
   background: #ffb701;
}
/* .month-tabs #tab-8{
    color: #fff;
    background-color: #333;
} */
.month-tabs li .active {
   color: #fff;
   background-color: #333;
}
.month .move-btns {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 10%;
}

.month .move-btns img {
   width: 28px;
}

/* (수정)테스트 - 탭 패널 */
.tabContents {
   background-color: #222;
}

.panelBox {
   background-color: #222;
}
.pdContent {
   display: flex;
   justify-content: center;
   gap: 5%;
   padding: 5.7em 0;
   overflow: hidden;
}
.vacant {
   color: #fff;
   font-size: 1.3rem;
   letter-spacing: 1px;
   padding: 13%;
}
.pdContent .poster {
   display: block;
   width: 350px;

   position: relative;
   overflow: hidden;
   border: 1.5px solid #333;
}
.pdContent em {
   display: inline-block;
   padding: 9px 13px;
   line-height: 15px;
   position: absolute;
   top: 0;
   left: 0;
   background: #e3333e;
   color: #fff;
   z-index: 999;
   font-size: 0.75rem;
   font-weight: 400;
   letter-spacing: 0.1rem;
}
.pdContent .poster img {
   height: 100%;
   object-fit: cover;

   width: 100%;
   display: block;
   transition: transform 0.5s;
}
.pdContent .poster > .overlay {
   color: #fff;
   height: 0;
   width: 100%;
   /* background: #000; */
   position: absolute;
   left: 0;
   bottom: -5%;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 10px 50px;
   text-align: center;
   font-weight: 300;
   transition: height 0.5s;
   z-index: 999;
}

.poster > .overlay > p:nth-child(1) {
   padding-bottom: 3px;
   font-family: "Montserrat", sans-serif;
   font-weight: 300;
   letter-spacing: 0.15rem;
   border-bottom: 1px solid #ccc;
}
.poster > .overlay > p:nth-child(2) {
   font-size: 1.7rem;
   font-weight: 600;
   padding: 50px 0 10px;
}
.poster > .overlay > p:nth-child(3) {
   font-size: 1.5rem;
   font-weight: 300;
   font-family: "Montserrat", sans-serif;
   /* font-family: "Red Hat Display", sans-serif; */
   padding-bottom: 30px;
}
.poster > .overlay > button {
   margin-top: 40px;
   padding: 15px 55px;
   border-radius: 0.3em;
   font-family: "Montserrat", sans-serif;
   letter-spacing: 0.1rem;
   font-weight: 700;
   font-size: 1rem;
   background: #ffb701;
}
.poster:hover {
   border: 1.5px solid #fff;
   transition: 0.5s;
}
.poster:hover img {
   transform: scale(1.1);
   transition: 0.5s;
   filter: brightness(20%);
}
.poster:hover .overlay {
   height: 100%;
   transition: 0.5s;
}
.poster:hover em {
   display: none;
}

/* 캘린더 탭 패널 */
.calContent > a {
   display: flex;
   align-items: center;
   padding: 1.5em 8em;
   border-bottom: 1px solid #7e7e7e;
}
.calContent .date {
   width: 25%;
   display: flex;
   align-items: center;
   margin-left: 5%;
}
.calContent .date p {
   font-family: "Montserrat", sans-serif;
   color: #fff;
   font-size: 1.35rem;
   font-weight: 400;
   line-height: 1;
}
.calContent .date p:first-child {
   width: 55%;
   font-weight: 700;
}
.calContent .date p:last-child {
   font-weight: 400;
}

/* 공연 제목 */
.calContent .playttl {
   text-align: center;
   width: 55%;
}
.calContent .playttl > p {
   display: inline-block;
   color: #fff;
   font-size: 1.33rem;
   font-weight: 200;
   padding: 0 10px;
}
.calContent .book-btn img {
   width: 18%;
}
/* 티켓예매 버튼 */
.book-btn {
   width: 20%;
   text-align: center;
}
.book-btn img.black {
   display: none;
}
.calContent a:hover img.white {
   display: none;
}
.calContent a:hover img.black {
   display: inline-block;
}
/* hover */
.calContent a:hover {
   background-color: #ffb701;
   color: #000;
}
.calContent a:hover .date p {
   color: #000;
}
.calContent a:hover .date p:last-child {
   font-weight: 600;
}
.calContent a:hover .playttl p {
   color: #000;
   font-weight: 600;
   font-size: 1.3rem;
   border-bottom: 1.5px solid #333;
}

/* 본문2 */
/* 주요 서비스 - 아이콘 형식*/
.service {
   width: 100%;
   margin: 8% auto;
}
.service ul {
   display: flex;
   justify-content: center;
}
.service ul li {
   margin: 0 4%;
}
.service li a {
   display: block;
   text-align: center;
   font-size: 1.3rem;
   font-weight: 500;
   color: #000;
}
.service li img {
   display: block;
   margin: 0 auto 1.25em;
   width: 2.3em;
}

/* 본문3 */
/* 인포 */
#info {
   width: 100%;
}
#info .info_inr {
   display: flex;
}
.info_inr .n_list {
   width: 85%;
}
.info_inr ul {
   display: flex;
   justify-content: center;
}
.info_inr .n_list li {
   width: 30%;
   height: 435px;
   margin-left: 2%;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   border: 1px solid #dfdfdf;
   position: relative;
}
.info_inr .n_list li:first-child {
   margin-left: 0;
}
.info_inr .notice {
   padding-top: 84px;
}
.info_inr .notice h4 {
   color: #111;
   font-weight: 600;
   font-size: 2.2rem;
   margin-top: 28px;
}
.info_inr .notice > div {
   padding-top: 17px;
}

#info .day {
   padding-bottom: 20px;
   display: flex;
   align-items: center;
   margin: 43px 0px 10px 45px;
}

#info .day .a {
   font-family: "Montserrat", sans-serif;
   font-size: 50px;
   font-weight: 600;
   color: #111;
   margin-right: 10px;
}
#info .day .b {
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   line-height: 1em;
   color: #111;
}

#info .txt {
   margin: 0 35px;
}

#info .txt .cont {
   font-size: 1.5rem;
   font-family: "Noto Sans KR";
   position: relative;
   padding-top: 60px;
   padding-left: 15px;
   font-weight: 300;
}
.deco-bar:before {
   content: "";
   display: inline-block;
   width: 200px;
   height: 1px;
   background: #dfdfdf;
   position: absolute;
   top: 0px;
   left: 0;
}
#info .txt .cont p {
   color: #111;
}
#info .n_btn {
   position: absolute;
   bottom: 20px;
   right: 20px;
}
#info .n_btn img {
   width: 60px;
   padding: 17px;
   background: #ffb701;
}
#info .more {
   position: relative;
}
/* .under_bar:before {
   content: "";
   display: inline-block;
   width: 120px;
   height: 1px;
   background: #111;
   position: absolute;
   top: 81px;
   left: 43px;
} */

/* 공지사항 */
.section03 {
   padding: 1% 0;
}
/* #notice {
   width: 100%;
   background: #222;
}
#notice .notice-container {
   margin: 0 auto;
   padding: 4.5% 8.5%;
}
.notice-container h4 {
   font-weight: 500;
   font-size: 2.2rem;
   color: #fff;
}
.notice-box {
   display: flex;
   justify-content: space-between;
   margin-top: 4.5%;
}
.notice-box .n-list {
   width: 30%;
   border: 1px solid #999;
   border-radius: 2em;
}
.notice-box p {
   padding: 0 2.5%;
}
.notice-box .n-list a {
   display: flex;
   height: 390px;
}

.n-list .n-text {
   width: 90%;
   color: #fff;
   padding: 0 8%;
   position: relative;
}
.n-text .n-year {
   display: inline-block;
   font-family: "Montserrat", sans-serif;
   font-size: 1.4rem;
   font-weight: 300;
   margin-top: 13%;
   color: #bbbbbb;
}
.n-text .n-date {
   font-family: "Montserrat", sans-serif;
   font-size: 1.9rem;
   font-weight: 600;
   margin: 15% 0 10%;
}
.n-text .n-title {
   font-size: 1.4rem;
   font-weight: 300;
   border-top: 1px solid #999;
   padding-top: 10%;
   letter-spacing: 0.5px;
   line-height: 1.5;
}
.notice-box .n-link {
   width: 10%;
   background: #dddddd;
   border-top-right-radius: 1.9em;
   border-bottom-right-radius: 1.9em;
   display: flex;
   align-items: center;
   justify-content: center;
}
.n-link img {
   width: 70%;
}

.n-list:hover {
   border: 1px solid #ffb701;
   transition: 0.5s;
}
.n-list:hover .n-title {
   border-top: 1px solid #ffb701;
   transition: 0.5s;
}
.n-list:hover .n-link {
   background: #ffb701;
   transition: 0.6s;
}
.deco-bar:before {
   content: "";
   display: inline-block;
   width: 200px;
   height: 1px;
   background: #000;
   position: absolute;
   top: 0px;
   left: 0;
}
#notice .txt .cont p {
   color: #111;
}
#notice .n_btn {
   position: absolute;
   bottom: 20px;
   right: 20px;
}
#notice .n_btn img {
   padding: 18px;
   background: #00203d;
}
#notice .more {
   position: relative;
} */

/* 푸터 */
footer {
   margin-top: 5%;
}
footer .infoArea {
   width: 100%;
   border-bottom: 1px solid #000;
}
footer .info {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 1.2% 0;
   background-color: #222;
}
footer .info li {
   padding: 0 3.5%;
}
footer .info a {
   font-size: 0.95rem;
   vertical-align: baseline;
   color: #fff;
}
footer > .ft-container {
   width: 90%;
   margin: 0 auto;
   border-left: 1px solid #000;
   border-right: 1px solid #000;
}
footer .addrArea {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 2.5%;
   padding: 5%;
}
footer .addrArea address {
   font-size: 0.94rem;
   color: #888;
   flex-grow: 2;
}
footer .addrArea address p {
   margin-bottom: 5px;
}
footer .addrArea address p:last-child {
   margin-bottom: 0;
}
footer .addrArea address span {
   padding-right: 10px;
}
footer .addrArea .link a {
   display: inline-block;
   margin: 0 10px;
}

footer .ft-container > p {
   margin: 0 50px;
   padding: 2.5% 0;
   border-top: 1px solid #ccc;
   text-align: center;
   font-size: 15px;
   color: #555;
   /* font-family: "Montserrat", sans-serif; */
   font-family: "Red Hat Display", sans-serif;
   font-weight: 700;
}
